.menu-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    width: 75%;
    height: 55%;

    .menu-title{
        font-family: 'Creepster', cursive;
        font-size: 75px;
        @media (max-width: 400px){
            font-size: 45px;
        }
        margin-bottom: 10px;
        color: darkorange;
    }
}

