.menu-item-card {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 900px;

    .edit-input{
        display: flex;
        max-width: 90%;
    }

    .delete-menu-item{
        color: darkorange;
        margin: 10px;
        .delete-icon {
            font-size: 25px;
        }
    }
    .ant-input{
        width: 75%;
    }
}
.ant-tooltip{
    .tooltip-button{
        .ant-btn {
            background-color: transparent;
            border-color: transparent;
        }

        .ant-btn, .ant-btn:focus {
            background: transparent;
            border-color: transparent;
            color: white;
        }

        .ant-btn:hover, .ant-btn-primary:hover {
            border-color: transparent;
            color: darkorange;
        }
    }
}


